---
import background from '@assets/valdivia.jpg';
import { Icon } from 'astro-icon/components'
interface Props {
	title:string
	id:string
	hidden: boolean
}

const { title, id } = Astro.props;
---

<div id={id} class="window-container p-8 w-full h-full overflow-y-hidden mb-8" class:list={[Astro.props.hidden ? "closed" : ""]}>
	<section class="window-header flex justify-between text-black font-bold w-full bg-white/90 rounded-t-md py-1 px-4 cursor-grab active:cursor-grabbing">
		<h1>
			{title}
		</h1>
		<div class="flex">
			<Icon name="minimize" size={24} class="mr-4 cursor-pointer" id={`minimize-${id}`}></Icon>
			<Icon name="close" size={24} id={`close-${id}`} class="cursor-pointer"></Icon>
		</div>
	</section>
	<main id={`window-${id}`} class="window bg-black/90 place-items-center grid w-full h-full items-center border overflow-y-scroll border-white/20 rounded-md shadow-lg">
		<slot />
	</main>
</div>

<script define:vars={{ windowId: id }}>
	const closeWindow = document.getElementById(`close-${windowId}`);
	const minimizeWindow = document.getElementById(`minimize-${windowId}`);
	const windowContainer = document.getElementById(windowId);

	if (closeWindow) {
		closeWindow.addEventListener('click', () => {
			windowContainer.classList.toggle('closed');
		});
	}
	if (minimizeWindow) {
		minimizeWindow.addEventListener('click', () => {
			windowContainer.classList.toggle('closed');
		});
	}
</script>

<style>
	.window-container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		grid-area: main;
		transform: scale(1) translateY(0);
		opacity: 1;
		transition: transform 300ms ease, opacity 300ms ease;
		transform-origin: bottom center;
		@starting-style{
			opacity: 0;
			transform: scale(0) translateY(100%);
		}
	}

	.window {
		grid-template-rows: 1fr;
	}    
	
	.closed {
		visibility: hidden;
		opacity: 0;
		transform: scale(0) translateY(100%);
		transition: opacity 300ms ease, transform 300ms ease, visibility 300ms ease;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
