---
import background from '@assets/valdivia.jpg';
import { Icon } from 'astro-icon/components'
interface Props {
	title:string
	id:string
	hidden: boolean
}

const { title, id } = Astro.props;

const links = [
    { image: "user", text: 'Sobre Mi' , color: 'lightblue', windowId: 'container-about' },
    { image: "experience", text: 'Experiencia', color: '#ef476f', windowId: 'container-experience' },
    { image: "projects", text: 'Proyectos', color: '#ffd166', windowId: 'container-projects' },
	{ image: "references", text: 'Referencias' , color: 'lightblue', windowId: 'container-references' },
    { image: "contact", text: 'Contacto', color: '#06d6a0', windowId: 'container-contact' },
]
---

<div id={id} class="window-container py-8 px-2 sm:px-4 md:px-8 w-full h-full overflow-y-hidden mb-8" class:list={[Astro.props.hidden ? "closed" : ""]}>
	<section class="window-header flex justify-between text-white font-bold w-full border-t border-x border-white/20 bg-black/70 rounded-t-md py-2 px-4 cursor-grab active:cursor-grabbing">
		<h1>
			{title}
		</h1>
		<div class="flex">
			<Icon name="minimize" size={24} class="mr-4 cursor-pointer" id={`minimize-${id}`}></Icon>
			<Icon name="close" size={24} id={`close-${id}`} class="cursor-pointer"></Icon>
		</div>
	</section>
	<main id={`window-${id}`} class="window bg-neutral-900/96 overflow-y-scroll place-items-center grid w-full h-full border border-b-8 border-white/20 rounded-b-md shadow-lg">
		<aside class="hidden relative flex-col justify-start gap-8 bg-neutral-950/35 border-r border-white/20 h-full text-white/50">
			<nav class="sticky top-0">
				<ul class="pt-4">
					{ links.map(({ image, text, color, windowId })=>{
						return (
							<li class="aside-nav" data-color-text={color} data-tooltip-target={text} data-window-id={windowId}>
								<Icon name={image} size={16} class="inline-block"/>
								<span class="text-nav">{text}</span>
							</li>
						)
					}) }
				</ul>
			</nav>
		</aside>
		<slot />
	</main>
</div>

<script define:vars={{ windowId: id }}>
	const closeWindow = document.getElementById(`close-${windowId}`);
	const minimizeWindow = document.getElementById(`minimize-${windowId}`);
	const windowContainer = document.getElementById(windowId);

	if (closeWindow) {
		closeWindow.addEventListener('click', () => {
			windowContainer.classList.toggle('closed');
			windowContainer.classList.add('closed-transition');
		});
	}
	if (minimizeWindow) {
		minimizeWindow.addEventListener('click', () => {
			windowContainer.classList.toggle('closed');
			windowContainer.classList.add('closed-transition');
		});
	}
</script>

<script>
    const navIcons = document.querySelectorAll('.aside-nav');

    function calculateMaxZIndex() {
        let maxZ = 0;
        document.querySelectorAll('.window-container').forEach(win => {
            const z = parseInt(window.getComputedStyle(win).zIndex) || 0;
            if (z > maxZ) {
                maxZ = z;
            }
        });
        return maxZ;
    }
    
    navIcons.forEach(icon => {
        const color = icon.getAttribute('data-color-text');
        (icon as HTMLElement).style.setProperty('--color-text', color);

        icon.addEventListener('click', () => {
            const windowId = icon.getAttribute('data-window-id');
            const maxZ = calculateMaxZIndex();

            const allWindows = document.querySelectorAll('.window-container');

            allWindows.forEach(win => {
                if (win.id !== windowId) {
					win.classList.remove('closed-transition');
					win.classList.add('closed');
                } 
            });

            if (windowId) {
                const windowContainer = document.getElementById(windowId);
                if (windowContainer) {
					windowContainer.classList.remove('closed-transition');
                    windowContainer.classList.remove('closed');
                    windowContainer.style.zIndex = (maxZ + 1).toString();
                }
            }
        });
    });
</script>

<script>
	function updateActiveNav() {
		const asideNavs = document.querySelectorAll('.aside-nav');
		const windows = document.querySelectorAll('.window-container');
		windows.forEach(window => {
			if (!window.classList.contains('closed')) {
				const windowId = window.id;
				asideNavs.forEach(asideNav => {
					if (asideNav.getAttribute('data-window-id') === windowId) {
						asideNav.classList.add('li-active');
					} else {
						asideNav.classList.remove('li-active');
					}
				});
			}
		});
	}
	updateActiveNav();
	const windows = document.querySelectorAll('.window-container');
    const observer = new MutationObserver(updateActiveNav);

    windows.forEach(win => {
        observer.observe(win, {
            attributes: true,
            attributeFilter: ['class']
        });
    });
	

</script>

<style>
	main{
		display: grid;
		grid-template-columns: 1fr;
		border-bottom: 0.7rem solid rgba(255, 255, 255, 0.20) ;
	}

	aside{
		min-width: auto;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		text-align: start;
	}

	li{
		display: flex;
		justify-content: start;
		align-items: center;
		text-align: center;
		gap: 0.5rem;
		padding: 0.5rem;
		padding-left: 1rem;
		cursor: pointer;

		&:hover{
			background-color: #6262625b;
		}
	}

	.li-active{
		background-color: #3d3d3d5b;
	}

	hr{
		margin: 0 auto;
		width: 90%;
		border: 1px solid #ffffff2f;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.window-container {
		margin: 0 auto;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		grid-area: main;
		transform-origin: bottom center;
		max-width: 1280px;
		margin-bottom: 2rem;
		transform: scale(1) translateY(0);
		opacity: 1;
		@starting-style{
			opacity: 0;
			transform: scale(0) translateY(100%);
		}
	}

	.window {
		grid-template-rows: 1fr;
	}    
	
	.closed {
		visibility: hidden;
		opacity: 0;
		transform: scale(0) translateY(100%);
	}
	.closed-transition {
		transition: opacity 300ms ease, transform 300ms ease, visibility 300ms ease;
	}
	@media (min-width: 768px) {
		main {
			grid-template-columns: auto 1fr;
		}
		aside {
			display: flex;
			min-width: 12rem;
		}
	}
</style>
