---
import background from '@assets/valdivia.jpg';
import { Icon } from 'astro-icon/components'
interface Props {
	title:string
	id:string
	hidden: boolean
}

const { title, id } = Astro.props;
---

<div id={id} class="window-container" class:list={[Astro.props.hidden ? "closed" : ""]}>
	<main id={`window-${id}`} class="window grid w-full bg-black/99 border border-white/20 rounded-md shadow-lg">
		<section id={`window-header-${id}`} class="window-header text-white font-bold w-full bg-white/90 rounded-t-md py-1 px-4 cursor-grab active:cursor-grabbing">
			<h1>
				{title}
			</h1>
			<div class="flex">
				<Icon name="minimize" size={24} class="mr-4 cursor-pointer" id={`minimize-${id}`}></Icon>
				<Icon name="close" size={24} id={`close-${id}`} class="cursor-pointer"></Icon>
			</div>
		</section>
		<slot />
	</main>
</div>

<script define:vars={{ windowId: id }}>
	const closeWindow = document.getElementById(`close-${windowId}`);
	const minimizeWindow = document.getElementById(`minimize-${windowId}`);
	const windowContainer = document.getElementById(windowId);

	if (closeWindow) {
		closeWindow.addEventListener('click', () => {
			windowContainer.classList.toggle('closed');
		});
	}
	if (minimizeWindow) {
		minimizeWindow.addEventListener('click', () => {
			windowContainer.classList.toggle('closed');
		});
	}
</script>

<style>
	.window-container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		grid-area: main;
		padding: 2rem;
		width: 100%;
		transform: scale(1) translateY(0);
		opacity: 1;
		transition: transform 300ms ease, opacity 300ms ease;
		transform-origin: bottom center;
		@starting-style{
			opacity: 0;
			transform: scale(0) translateY(100%);
		}
	}

	.window {
		grid-template-rows: auto 1fr auto;
		align-items: center;
		height: 100%;
	}
	
	.window-header {
		display: flex;
		justify-content: space-between;
		color: black;
	}
	
	.closed {
		visibility: hidden;
		opacity: 0;
		transform: scale(0) translateY(100%);
		transition: opacity 300ms ease, transform 300ms ease, visibility 300ms ease;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
	}
</style>
